body{
    width: 95%;
    margin: auto;
}

#title{
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    padding: 5px;
    margin-top:10px;
}

#title h1{
    font-size: 40px;
    position: relative;
    bottom: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav{
    background-color: dimgray;
    padding: 5px;

}

nav a{
    color: springgreen;
    font-weight: bold;
    text-decoration: none;
}

article{
    background-color: lightgray;
}

article h1{
    font-size: 30px;
    color: #302d2d;
    text-decoration: underline;
    margin-top:10px;
    padding-top: 30px;
}

article p{
    padding: 5px;
}

article a{
    padding: 5px;
}