#playField {
    width: 600px;
    height: 800px;
    background-color: lightgray;
    border: 2px solid black;
    position: relative;
}

/* Verwijder het ongeldige commentaar en gebruik de juiste manier */
#target {
    position: absolute;

}



